{% extends "core/datatable.html" %}
{% load static %}

{% block datatable_title %}
    {% if latest_checked %}
        Latest Item Prices
    {% elif from_date and to_date %}
        Prices from {{ from_date }} to {{ to_date }}
    {% elif from_date %}
        Prices from {{ from_date }} to Today
    {% else %}
        Prices from the start of time to {{ to_date }}
    {% endif %} for Price List: {{ pricelist }}
{% endblock %}
{% block datatable_top_row %}
    <p>
        View, edit and modify price list data.
    </p>
    <div class="col s12 m2">
        <a class="waves-btn btn" href="{% url 'pricing:pricing_dashboard' %}">
            Back to Price Lists
            </a>
        <a class="waves-btn btn green" href="{% url 'pricing:pricelist-create' %}">Create
            New Price
            List</a>
    </div>
    <div class="col s12 m6">
    </div>
    <div class="col s12 m4">
        <div class="card">

            <form action="" method="get">
                {% csrf_token %}

                <div class="card-content">

                    <div class="switch">
                        <label>
                            Show All Prices in Date Range Per Item {{ latest_checked }}
                            <input id='latest_checkbox' type="checkbox"/>
                            <span class="lever"></span>
                            Show Latest Price Per Item
                        </label>
                    </div>
                    <p id="date_pickers">
                        <label id="from_date">
                            <input name="from_date" type="text" class="datepicker"
                                   value="{{ from_date }}">
                            <span>From this Day</span>
                        </label>
                        <label id="to_date">
                            <input name="to_date" type="text" class="datepicker"
                                   value="{{ to_date }}">
                            <span>Upto this Day</span>
                        </label>
                    </p>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light" type="submit"
                            value="Submit">Change Filter Settings
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block datatable_footer %}
    <script src="{% static 'pricing/js/item_price_db.js' %}"
            type="text/javascript"></script>
    <script type="text/javascript">
    (function ($) {
        function update_filter_form() {
            const show_latest = $('#latest_checkbox').is(':checked')
            if (show_latest) {
                $('#date_pickers').hide()
                $('.datepicker').val('')
            } else {
                $('#date_pickers').show()
            }
        }

        $('#latest_checkbox').on('change paste keyup', update_filter_form)
        $('#latest_checkbox').prop('checked', {% if latest_checked %}true{% else %}
            false{% endif %})
        const elems = document.querySelectorAll('.datepicker')
        window.datesAlreadySet = true
        const r = M.Datepicker.init(elems, {
            showClearBtn: true,
        })
        update_filter_form()
    })($)
    </script>
{% endblock %}
