{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
    <div class="section">
        {% if pricelist %}
            <h5>Editing Price List: {{ pricelist.name }}</h5>
            {% if pricelist.deletable %}
                <a href="{% url 'pricing:pricelist-delete' pricelist.id %}"
                   class="waves-btn btn red">Delete Price List</a>
            {% endif %}
        {% else %}
            <h5>Create New Price List</h5>
        {% endif %}
    </div>
    <div class="divider"></div>
    <div class="section">
        <form action="" method="post">
            {% if form.non_field_errors %}
                <div class="row">
                    <div class="col s12 m5">
                        <div class="card-panel red darken-1">
                    <span class="white-text">
                        <b>Errors with form:</b>
                    <ul class="errors">
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    </span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% csrf_token %}

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <div id="core_form">

                {% for field in form.visible_fields %}
                    <div class="row">
                        {{ field|materializecss:'s12 m12' }}
                    </div>
                {% endfor %}
            </div>

            {% include 'users/includes/access_controller_form.html' with formset=form.formset title="Price List" %}

            <button class="btn waves-effect waves-light" type="submit" value="Submit">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}

{% block extrafooter %}
    {% include 'users/includes/access_controller_form_extra_footer.html' with formset=form.formset %}
    <script>
    (function ($) {
        function update_fields_based_on_api() {
            const api_type = $('#id_api_type').find('option:selected').val()
            const $idGoogleSheetId = $('#id_google_sheet_id')
            const $idGoogleSheetCellRange = $('#id_google_sheet_cell_range')
            if (api_type === 'google_sheet') {
                $idGoogleSheetId.attr('disabled', false)
                $idGoogleSheetId.parent().parent().show()
                $idGoogleSheetCellRange.attr('disabled', false)
                $idGoogleSheetCellRange.parent().parent().show()
            } else {
                $idGoogleSheetId.attr('disabled', true)
                $idGoogleSheetId.parent().parent().hide()
                $idGoogleSheetCellRange.attr('disabled', true)
                $idGoogleSheetCellRange.parent().parent().hide()
            }
        }

        $('#id_api_type').on('change paste keyup', update_fields_based_on_api)
        update_fields_based_on_api()
    })($)
    </script>
{% endblock %}
{% block initfooter %}
{% endblock %}
