{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<div class="section">
    <h4>Create the Ship Order Contract</h4>
</div>
<div class="divider"></div>
<div class="section">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <h5 class="red-text">Before Submitting Complete These Steps:</h5>


            <div class="col s12 m12">
                <h6>Follow this GIF:</h6>
                <span>You must put in the contract's description the following code: </span>
                <blockquote>
                {{ship_order.uid}}
                </blockquote>
                <img src="{% static "how_to_contract.gif" %}"/>
            </div>
            <div class="col s12 m12">
                <h6>Or the same instructions but in Text:</h6>
                <ol>
                    <li>
                        First make sure you haven't already ordered a ship today and that if you are ordering a Maller/Thorax ProtoType/Vexor Navy Issue/Caracal Navy Issue you haven't already ordered one this week.
                    </li>
                    <li>
                        Next if you are paying by isk for a non-free ship (T7 or T8) lookup the contract price by using the !quote shipname command in #boats-r-us
                    </li>
                    <li>
                        Now start making a contract ingame, it's visibility must be set to the alliance.
                    </li>
                    <li>
                        Next select Jita IV - Moon 4 ITC as the station location. If you don't see this option it is because you don't have an item in that station. Buy something cheap on the market to get an item there first.
                    </li>
                    <li>
                        You must put in the contract's description the following code:
                        <blockquote>
                        {{ship_order.uid}}
                        </blockquote>
                    </li>
                    <li>
                        Make sure the expiry is set to 1 week, or 2 weeks for a battleship.
                    </li>
                    <li>
                        Then scroll down, click add item and find the ship you want and add it.
                    </li>
                    <li>
                        Finally you can create the contract.
                    </li>
                    <li>
                        If you mess up any of these steps, your ship order might not be filled as the industry team will not be able to find or verify your contract.
                    </li>
                </ol>
            </div>
        </div>
        <button class="btn waves-effect waves-light green" type="submit" value="Submit">
            Yes, I Have Made The Correct Contract In Game, Place The Ship Order Now:
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>


{% endblock %}
