{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<div class="section">
    <h4>Place A Ship Order</h4>
</div>
<div class="divider"></div>
<div class="section">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.recipient_character|materializecss:'s12 m12, icon=user'}}
        </div>
        <div class="row">
            {{ form.ship|materializecss:'s12 m6, icon=directions_boat'}}
            {{ form.quantity|materializecss:'s12 m6, icon=filter_1'}}
        </div>
        <div class="row">
            {{ form.payment_method|materializecss:'s12 m6, icon=attach_money'}}
            {{ form.notes|materializecss:'s12 m6, icon=comment'}}
        </div>
        <button class="btn waves-effect waves-light green" type="submit" value="Submit">
            Generate Unique Contract Code
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>


{% endblock %}
{% block extrafooter %}
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" type="text/javascript"></script>
{{form.media}}

<script>

$(function(){
    $('#id_ship').on('change paste keyup', set_free_or_not);

    set_free_or_not();
});

function set_free_or_not(){
    const ship_text = $(this).find('option:selected').text();
    const current_payment = $('#id_payment_method').find('option:selected').val();
    const selectedCategory = document.querySelector('#id_payment_method');
    if(ship_text.endsWith("FREE")){
        $("#id_payment_method option").remove();
        $('#id_payment_method').append($('<option>', {
            value: "free",
            text: "free"
        }));

        selectedCategory.value = "free";
        if (typeof(Event) === 'function') {
            var event = new Event('change');
        } else {  // for IE11
            var event = document.createEvent('Event');
            event.initEvent('change', true, true);
        }
        selectedCategory.dispatchEvent(event);
        M.FormSelect.init(selectedCategory);
    } else {
        $("#id_payment_method option").remove();
        $('#id_payment_method').append($('<option>', {
            value: "eggs",
            text: "eggs"
        }));
        $('#id_payment_method').append($('<option>', {
            value: "isk",
            text: "isk"
        }));
        $('#id_payment_method').append($('<option>', {
            value: "srp",
            text: "srp"
        }));

        new_payment = current_payment === "free" ? "eggs" : current_payment;
        selectedCategory.value = new_payment;

        if (typeof(Event) === 'function') {
            var event = new Event('change');
        } else {  // for IE11
            var event = document.createEvent('Event');
            event.initEvent('change', true, true);
        }
        selectedCategory.dispatchEvent(event);
        M.FormSelect.init(selectedCategory);
    }

}


</script>

{% endblock %}
