{% extends "core/base.html" %}
{% load base_extras %}
{% load static %}
{% load materializecss %}
{% block body %}
<div class="row">
    <div class="col s12 m12">
    <a class="btn waves-btn green" href="{% url 'industry:shiporders_create' %}">Order A Ship!</a>
    <table id="ship_orders_table"></table>
    </div>
</div>
{% endblock %}

{% block extrafooter %}
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css" integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{{ page_data|json_script:"page-data" }}
<script>
$(function() {
    const page_data = JSON.parse(document.getElementById('page-data').textContent);
    columns = [
            { "data": "id", "visible": false, "searchable": false },
            { "data": "created_at", "title": "Created At"},
            { "data": "assignee_name", "title" : "Assignee", "defaultContent": "Nobody",
                render: function ( data, type, row ) {
                    if(page_data["has_industry_permission"]){
                        if(!row["assignee_name"]){
                            return '<button class="claim-btn waves-btn btn green">Claim</button>';
                        } else if(row["assignee"]===page_data["request_user_pk"]){
                            return '<button class="unclaim-btn waves-btn btn red">UnClaim</button>';
                        }
                    }
                    return row['assignee_name'];
                }
            },
            { "data": "recipient_character_name", "title":"Recipient" },
            { "data": "ship", "title":"Ship"},
            { "data": "quantity", "title":"Quantity"},
            { "data": "payment_method", "title":"Payment Method"},
            { "data": "state", "title": "Status"},
            { "data": "recipient_character", "visible": false, "searchable": false},
            { "data": "assignee", "visible": false, "searchable": false},
    ];
    if(page_data["has_industry_permission"]){
        columns.push({
            "title": "Action",
            "data": null,
            render: function ( data, type, row ) {
                return '';
            }
        });
    }
    table = $('#ship_orders_table').DataTable( {
        ajax: {
            url: "{% url 'industry:shiporder-list' %}",
            dataSrc: '',
        },
        "columns": columns
    } );

    $('#ship_orders_table').on( 'click', '.claim-btn', function () {
        const row = table.row( $(this).parents('tr') );
        var data = row.data();
        claim(row);
    });

    $('#ship_orders_table').on( 'click', '.unclaim-btn', function () {
        const row = table.row( $(this).parents('tr') );
        var data = row.data();
        unclaim(row);
    });
});

function django_request(url){
    const csrftoken = Cookies.get('csrftoken');
    return new Request(
        url,
        {headers: {'X-CSRFToken': csrftoken}}
    );
}

function claim(row){
    const id = row.data()['id'];
    const request = django_request("shiporder/" + id + "/claim/");
    fetch(request, {
        method: 'PUT',
        mode: 'same-origin'
    })
    .then(response => response.json())
    .then(response_data => {
        const row_data = row.data();
        row_data['assignee_name'] = response_data["assignee_name"];
        row_data['assignee'] = response_data["assignee"];
        row.data(row_data);
    });
}

function unclaim(row){
    const id = row.data()['id'];
    const request = django_request("shiporder/" + id + "/unclaim/");
    fetch(request, {
        method: 'PUT',
        mode: 'same-origin'
    })
    .then(response => response.json())
    .then(response_data => {
        if(response_data["status"] === "unclaimed"){
            const row_data = row.data();
            row_data['assignee_name'] = null;
            row_data['assignee'] = null;
            row.data(row_data);
        }
    });
}
</script>
{% endblock %}
