{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<h4>{{title}}</h4>
<div class="divider"></div>
<div class="section">
    {% if form %}
    <!-- Form Errors -->
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel red darken-1">
                <span class="white-text">
                    <b>Errors with form:</b>
                <ul class="errors">
                    {% for error in form.non_field_errors%}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </span>
            </div>
        </div>
    </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
         <div class="row">
           {{ form.name|materializecss:'icon=label'}}
        </div>
        <div class="row">
            {{ form.loot_source|materializecss:'s12 l6, icon=directions_boat'}}
            {{ form.anom_system|materializecss:'s12 l6, icon=add_location'}}
        </div>
        <div class="row">
            {{ form.anom_level|materializecss:'s12 m4, icon=format_list_numbered'}}
            {{ form.anom_faction|materializecss:'s12 m4, icon=face'}}
            {{ form.anom_type|materializecss:'s12 m4, icon=casino'}}
        </div>
        <button class="btn waves-effect waves-light" type="submit" value="Submit">{{title}}
            <i class="material-icons right">send</i>
        </button>

    </form>

    {% endif %}
</div>


{% endblock %}
