{% extends "core/base.html" %}
{% load base_extras %}
{% load static %}
{% load materializecss %}
{% block body %}
<div class="row">
    <div class="col s12 m12">
        <h5>Transfer Eggs</h5>
        <div class="divider"></div>
        <p>If you are struggling to find the person remember that the search box for username is searching the users real discord username. They might have a different nickname on the discord server. Instead click on their username in discord and then search here by the username followed by a # and 4 numbers.</p>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="input-field col s12">
                    {{ field.errors }}
                    {{ field }}
                    {{ field.label_tag }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            </div>

            {% endfor %}
            <button class="btn waves-effect waves-light" type="submit" value="Submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block extrafooter %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
</script>
{% endblock %}
