{% extends "core/base.html" %}
{% load base_extras %}
{% load materializecss %}
{% block body %}
<div class="section">
    <h4>Virtual Currency: {{virtualcurrency.name}} {%if virtualcurrency.default %} (Default){%endif%}</h4>
        <a href="{% url 'venmo:currency-list' %}">Back to All Currencies</a>
</div>
<div class="section">
        <a href="{% url 'venmo:currency-update' virtualcurrency.id %}" class="waves-btn btn">Edit Currency</a>
        <a href="{% url 'venmo:currency-delete' virtualcurrency.id %}" class="waves-btn btn red">Delete Currency</a>
    </span>
    <p>
    Description: {{virtualcurrency.description}}<br/>
    Balance: {{virtualcurrency.balance}}<br/>
    Transactions: <a href="{% url 'hordak:accounts_transactions' virtualcurrency.account.uuid %}">View Transactions</a><br/>
    Is Default: {% if virtualcurrency.default %}Yes{%else%}No{%endif%}<br>
    </p>
    {% if virtualcurrency.corps.all %}
        <ul class="collection with-header">
        <li class="collection-header">
            <h6>Connected Corp Wallets</h6>
        </li>
        {% for acc in virtualcurrency.virtualcurrencystorageaccount_set.all %}
            <li class="collection-item"><a href="{% url 'hordak:accounts_transactions' acc.account.uuid %}">{{acc.corp}} : {{acc.balance|nicemoney}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        Not connected to any Corp Wallets.
    {% endif %}
    {% if virtualcurrency.withdrawal_characters.all %}
        <ul class="collection with-header">
        <li class="collection-header">
            <h6>Withdrawal Characters</h6>
        </li>
        {% for character in virtualcurrency.withdrawal_characters.all %}
            <li class="collection-item">{{character }}</li>
        {% endfor %}
        </ul>
    {% else %}
        No Withdrawal Characters.
    {% endif %}
</div>

{% endblock %}
