[MASTER]
load-plugins=pylint_django
init-hook='import sys; sys.path.append("goosetools")'
jobs=0
ignore-patterns=migrations,templates,venv


[FORMAT]
max-line-length=88
disable = C0330, C0326, I0011, no-else-return

[MESSAGES CONTROL]
disable=missing-docstring,invalid-name,line-too-long,too-few-public-methods,too-many-lines,fixme,too-many-arguments,too-many-locals,too-many-statements,too-many-nested-blocks,too-many-branches,import-outside-toplevel,logging-fstring-interpolation

[DESIGN]
max-parents=13

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
