
{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<div class="section">
    <h4>Home</h4>
    <p>You are logged in as {{request.user.gooseuser.display_name}}.
    {% if request.user.gooseuser.is_unapproved %}
        {% if request.user.gooseuser.latest_app %}
            <br/><b>Your application is currently waiting approval. </b><br/>
            {% if request.user.gooseuser.latest_app.ingame_name %}
                <b>Please go and make the following application in-game now: </b><br/>
                <blockquote>Apply with: {{request.user.gooseuser.latest_app.ingame_name}} to [{{request.user.gooseuser.latest_app.corp}}] {{request.user.gooseuser.latest_app.corp.full_name}}</blockquote>
            {% else %}
                <b>Please go and make the following application in-game now: </b><br/>
                <blockquote>Apply with: {{request.user.gooseuser.latest_app.existing_character.ingame_name}} to [{{request.user.gooseuser.latest_app.corp}}] {{request.user.gooseuser.latest_app.corp.full_name}}</blockquote>
            {% endif %}
            <i>Once you have been accepted you can apply with alts by going into Settings->Characters and applying there.</i>
        {% else %}
            <br/><b class="orange-text">You have been removed most likely due to in-activity, please re-apply below:</b>
            <br/><a id="agree_button" class="btn waves-btn green btn-large pulse" href="{% url "corp_select" %}">ReApply</a>
        {% endif %}

    {% elif request.user.gooseuser.is_rejected %}
        <br/><b class="red-text">Your application has been rejected.</b>
    {% endif %}
    </p>
</div>
{% endblock body %}
