{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<div class="section center">
    <div class="mb-5">
        <a id="conduct_button" class="btn waves-btn green btn-large pulse" href="{% url "core:conduct" %}">HONK</a>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3 l4 offset-l4">
            <img class="responsive-img" src="{% static 'core/GF_Recruit_Paper.png' %}"/>
        </div>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/946472047&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/jason-smith-341081795" title="Quickpull" target="_blank" style="color: #cccccc; text-decoration: none;">Quickpull</a> · <a href="https://soundcloud.com/jason-smith-341081795/honk-in-local" title="Honk in Local" target="_blank" style="color: #cccccc; text-decoration: none;">Honk in Local</a></div>
    </div>
</div>
{% endblock body %}
