{% extends "core/base.html" %}
{% load base_extras %}
{% load materializecss %}
{% load static %}
{% block extraheader %}
    <link rel="stylesheet" href="{% static 'items/css/items.css' %}">
{% endblock %}
{% block body %}
    <h5>Your Items Per System and Character</h5>
    <div class="section">
        <ul class="collapsible" id="top_level_thingy">
            <li id="help_thingy">
                <div class="collapsible-header"><i class="material-icons">add</i>How To
                    Send Loot to a Seller or Sell it
                    yourself in {{ SITE_NAME }} (click this to hide help)
                </div>
                <div class="collapsible-body">
                    <blockquote>
                        <b>If you want someone else to sell your fleet's loot:</b>
                        <ol>
                            <li> Make sure they are happy to sell your loot, maybe
                                provide them a link to the loot group
                                showing what is waiting to be sold!
                            </li>
                            <li> If they are happy then make contract in game to that
                                person in a system they are happy
                                with.
                            </li>
                            <li> Then move the items to them in {{ SITE_NAME }} by
                                clicking the appropriate contract button on
                                this page (all your items, or just one fleet's worth, or
                                a single item at once).
                            </li>
                            <li> Finally they will have to accept or reject the contract
                                in-game and in {{ SITE_NAME }}. You can
                                see your contracts pending approval <a
                                        href="{% url 'contracts' %}">here</a>.
                            </li>
                        </ol>
                        Participation will still be tracked and the person receiving
                        the contract will have the
                        responsibility to sell the loot and notify everyone when the
                        profit is ready to be / has been re-distributed.
                    </blockquote>
                    <blockquote>
                        <b>If you want to sell loot yourself:</b>
                        <ol>
                            <li> Move all your loot to a good selling hub and make sure
                                you have atleast 5/4/0 accounting
                                skill
                            </li>
                            <li> Click the stack all button in {{ SITE_NAME }} to group
                                your items to make them easier to sell,
                                participation will still be tracked.
                            </li>
                            <li> Go through all your items below, click sell and
                                indicate what price you have listed the
                                items at and what your market taxes are. Set your
                                default taxes in <a
                                        href="{% url 'settings' %}">settings</a>.
                            </li>
                            <li> As your items sell go to your <a
                                    href="{% url 'orders' %}">market orders</a> page in
                                the
                                Loot Sales dropdown and indicate for each order how many
                                of the item are remaining to be
                                sold.
                            </li>
                            <li> If you need to change the price of an order ingame
                                please also update the market order in
                                {{ SITE_NAME }} by going to your <a
                                        href="{% url 'orders' %}">market orders</a> and
                                clicking edit
                                on the order.
                            </li>
                            <li> For now if you need to cancel a market order PM
                                @thejanitor
                            </li>
                            <li> Once some or all of your items have sold finally go to
                                the <a href="{% url 'sold' %}">sold
                                    items</a> page in the dropdown. Click deposit and
                                follow the instructions, once the deposit
                                has been approved click approved and then finally click
                                transfer to get the transfer command
                                to split out the loot by participation.
                            </li>
                        </ol>
                    </blockquote>
                </div>
            </li>
        </ul>

    </div>
    {% if show_contract_all %}
        <div class="row">
            <div class="col s12 m12">
                <a class="waves-btn btn green" href="{% url 'personal_items_add' %}">
                    <i class="material-icons left">add</i>
                    Add New Items
                </a>
                <a class="waves-btn btn" href="{% url 'item_move_all' %}">
                    <i class="material-icons left">send</i>
                    Contract All Your Items
                </a>
            </div>
        </div>
    {% endif %}
    {% for loc_items in all_items %}
        <div class="section items_container">
            <div class="row ">
                <div class="col s12 m12">
                    {% has_admin loc_items.loc user as has_item_admin %}
                    <h3>
                        <span class="grey-text"> Items In </span>
                        <strong class="grey-text"> > </strong>
                        <span class="grey-text text-darken-2">
                    {% if not loc_items.loc.system %}
                        Unknown System
                    {% else %}
                        {{ loc_items.loc.system }}
                    {% endif %}
                    </span>
                        <strong class="grey-text text-darken-2"> > </strong>
                        <span class="grey-text">On Char</span>
                        <strong class="grey-text"> > </strong>
                        {{ loc_items.loc.character }}
                    </h3>
                    {% if has_item_admin %}
                        <p>
                            <span class="grey-text"> Bulk item actions:</span>
                            <br/>
                            <a class="waves-btn btn"
                               href="{% url 'stack_items' loc_items.loc.id %}">
                                <i class="material-icons left">burst_mode</i>
                                Stack
                            </a>
                            <a class="waves-btn btn"
                               href="{% url 'contract_items_in_loc' loc_items.loc.id %}">
                                <i class="material-icons left">send</i>
                                Contract
                            </a>
                            <a class="waves-btn btn"
                               href="{% url 'sell_all' loc_items.loc.id %}">
                                <i class="material-icons left">attach_money</i>
                                Sell @
                                Estimate
                            </a>
                            <a class="waves-btn btn"
                               href="{% url 'junk_items' loc_items.loc.id %}">
                                <i class="material-icons left">delete</i>
                                Junk Cheap Items
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m12">
                    <table>
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Estimated Profit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stack_id, stack in loc_items.stacks.items %}
                            <tr>
                                <td>
                                    <i title="This is a stack of items"
                                       class="material-icons left">burst_mode</i>
                                    <a href="{% url 'stack_view' stack.stack_id %}">{{ stack.item }}</a>
                                    {% if has_item_admin %}
                                        <div class="actions">
                                            <a class="action_link btn-flat waves-btn waves-light blue-text"
                                               href="{% url 'stack_sell' stack.stack_id %}">
                                                <i class="material-icons left">attach_money</i>
                                                Sell
                                            </a>
                                            <a class="action_link btn-flat waves-btn waves-light blue-text"
                                               href="{% url 'item_contract_stack' stack.stack_id %}">
                                                <i class="material-icons left">send</i>
                                                Contract</a>
                                            <a class="action_link btn-flat waves-btn waves-light blue-text"
                                               href="{% url 'stack_delete' stack.stack_id %}">
                                                <i class="material-icons left">insert_photo</i>
                                                Unstack
                                            </a>
                                            {% if stack.stack.can_edit %}
                                                <a href="{% url 'junk_stack' stack.stack_id %}"
                                                   class="action_link btn-flat waves-btn waves-light blue-text"
                                                >Junk
                                                    <i class="material-icons left">delete</i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ stack.quantity }}</td>
                                <td>
                                    {% if stack.stack.estimated_profit %}
                                        {{ stack.stack.estimated_profit }}
                                    {% else %}
                                        Missing Market Data
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for item in loc_items.unstacked %}
                            <tr>
                                <td>
                                    <i title="This item is not stacked"
                                       class="material-icons left">insert_photo</i>
                                    <a href="{% url 'item_view' item.id %}">
                                        {{ item.item }}
                                    </a>
                                    {% if has_item_admin %}
                                        <div class="actions">
                                            {% if item.can_sell %}
                                                <a class="action_link btn-flat waves-btn waves-light blue-text"
                                                   href="{% url 'item_sell' item.id %}">

                                                    <i class="material-icons left">attach_money</i>
                                                    Sell
                                                </a>
                                            {% endif %}
                                            {% if item.can_edit %}
                                                <a class="action_link btn-flat waves-btn waves-light blue-text"
                                                   href="{% url 'item_contract' item.id %}">
                                                    <i class="material-icons left">send</i>
                                                    Contract
                                                </a>
                                                <a class="action_link btn-flat waves-btn waves-light blue-text"
                                                   href="{% url 'item_edit' item.id %}">
                                                    <i class="material-icons left">create</i>
                                                    Edit
                                                </a>
                                                <a class="action_link btn-flat waves-btn waves-light blue-text"
                                                   href="{% url 'item_delete' item.id %}">
                                                    <i class="material-icons left">delete_forever</i>
                                                    Delete
                                                </a>
                                                <a
                                                        class="action_link btn-flat waves-btn waves-light blue-text"
                                                        href="{% url 'junk_item' item.id %}"
                                                >
                                                    <i class="material-icons left">delete</i>
                                                    Junk
                                                </a>
                                                </div>
                                            {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                <td>
                                    {% if item.estimated_profit_sum != 0 %}
                                        {{ item.estimated_profit_sum|nicemoney }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block extrafooter %}

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible')
        var instances = M.Collapsible.init(elems, {
            'onOpenStart': function (li) {
                localStorage['closed_help'] = 'open'

            },
            'onCloseStart': function (li) {
                localStorage['closed_help'] = 'closed'
            },
        })
        if (localStorage.getItem("closed_help") === null || localStorage['closed_help'] == 'open') {
            var elem = document.getElementById("top_level_thingy")
            var instance = M.Collapsible.getInstance(elem)
            instance.open()
        }
    })


    </script>

{% endblock %}
