
{% if entity.user %}
    {{ entity.user }}
{% endif %}
{% if entity.permission %}
    {% if entity.user %}
        , if in {{ entity.permission.group_names }} (they have {{ entity.permission.name }})
    {% else %}
        {{ entity.permission.group_names }} (they have {{ entity.permission.name }})
    {% endif %}
{% endif %}
{% if entity.corp  %}
    {% if entity.user %}
        , and if in {{ entity.corp }}
    {% elif entity.permission %}
        , if in {{ entity.corp }}
    {% else %}
        Users in corp {{ entity.corp }}
    {% endif %}
{% endif %}
{% if entity.everyone %}
Everyone
{% endif %}
{% if entity.user or entity.everyone %}
    is
{% else %}
    are
{% endif %}
{% if entity.allow_or_deny %}
    <strong class="green-text"> allowed to {{ access_type }}</strong>.
{% else %}
    <strong class="red-text"> blocked from {{ access_type }}ing</strong>.
{% endif %}
