{% if access_controller %}
    <ul class="collection">
        <li class="collection-item">
            <em>
                These are the builtin permissions that you cannot modify:
            </em>
        </li>

        {% if access_controller.viewable_by|length > 0 %}
            <li class="collection-item">
                <strong>View permissions are:</strong>
            </li>

            {% for entity in access_controller.viewable_by %}
                <li class="collection-item">
                    {% include 'users/includes/access_controller_single_display.html' with access_type="view" %}
                </li>
            {% endfor %}
        {% endif %}

        {% if access_controller.editable_by|length > 0 %}
            <li class="collection-item">
                <strong>Edit permissions are:</strong>
            </li>
            {% for entity in access_controller.editable_by %}
                <li class="collection-item">
                    {% include 'users/includes/access_controller_single_display.html' with access_type="edit" %}
                </li>
            {% endfor %}
        {% endif %}

        {% if access_controller.usable_by|length > 0 %}
            <li class="collection-item">
                <strong>Use permissions are:</strong>
            </li>
            {% for entity in access_controller.usable_by %}
                <li class="collection-item">
                    {% include 'users/includes/access_controller_single_display.html' with access_type="use" %}
                </li>
            {% endfor %}
        {% endif %}


        {% if access_controller.deletable_by|length > 0 %}
            <li class="collection-item">
                <strong>Delete permissions are:</strong>
            </li>
            {% for entity in access_controller.deletable_by %}
                <li class="collection-item">
                    {% include 'users/includes/access_controller_single_display.html' with access_type="delete" %}
                </li>
            {% endfor %}
        {% endif %}

        {% if access_controller.adminable_by|length > 0 %}
            <li class="collection-item">
                <strong>Admin permissions are:</strong>
            </li>
            {% for entity in access_controller.adminable_by %}
                {% if hide_user_admins and entity.user_only %}

                {% else %}
                    <li class="collection-item">
                        {% include 'users/includes/access_controller_single_display.html' with access_type="admin" %}
                    </li>
                {% endif %}
            {% endfor %}
            {% if hide_user_admins %}
                <li class="collection-item">
                    {{ hide_user_admins }} <strong class="green-text">
                    allowed to
                    admin</strong>.
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% else %}
    ERROR MISSING ACCESS CONTROLLER.
{% endif %}
