{% extends "core/base.html" %}

{% load i18n %}
{% load materializecss %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block body %}
<h1>{% trans "Sign Up" %}</h1>

<div class="row">
    <div class="col s12">
        <p>Please fill in the fields below to submit your application to Gooseflock. <br/>
        <b class="red-text">After submitting this form please send an in game application to the corp you have selected below with the exact in game character you have specified.</b><br/>
        If you need any help please ask in #pubbie-general on the discord server.</p>
        {% if form.non_field_errors %}
            <div class="card-panel red darken-1">
                <span class="white-text">
                    <b>Errors with form:</b>
                <ul class="errors">
                    {% for error in form.non_field_errors%}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </span>
            </div>
        {% endif %}
        <!-- Display Form -->
        <form action="" method="post" class="col s12">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            {% for field in form %}
            <div class="row">
                {{field|materializecss:'s12'}}
            </div>
            {% endfor %}
            <button id="sign_up_button" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
</div>
{% endblock %}
