{% extends "core/base.html" %}

{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block body %}

<div class="row">
    <div class="col s12 center">
        <h1>{% trans "Gooseflock Sign Up Form" %}</h1>
        <p>Please fill in the fields below to submit your application to Gooseflock. <br/>
        If you need any help please ask in #pubbie-general on the discord server.</p>
        {% if form.non_field_errors %}
            <div class="card-panel red darken-1">
                <span class="white-text">
                    <b>Errors with form:</b>
                <ul class="errors">
                    {% for error in form.non_field_errors%}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </span>
            </div>
        {% endif %}
    </div>
</div>
        <!-- Display Form -->
        <form action="" method="post">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <div class="row">
                <div class="col s12">
            <ul class="collection">
            {% for field in form %}
                <li class="collection-item">
                    <div class="input-field">
                        {{ field.errors }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        {{ field }}
                </li>
            {% endfor %}
                <li class="collection-item center">
                    <button class="green btn waves-btn btn-large" id="sign_up_button" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </li>
            </ul>
        </form>
                </div>
            </div>
{% endblock %}

{% block extrafooter %}
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" type="text/javascript"></script>
<link href="{% static 'admin/css/vendor/select2/select2.min.css' %}" type="text/css" media="screen" rel="stylesheet">
<script src="{% static 'admin/js/vendor/select2/select2.full.js' %}" type="text/javascript"></script>

<script>
$(document).ready(function() {
    $('#id_timezone').select2();
});
</script>

{% endblock %}
