{% extends "core/base.html" %}

{% load base_extras %}
{% block body %}

    <div class="section">
        <div class="d-sm-flex mb-3">
            <div class="flex-fill mb-3 mb-sm-0">
                <h1>{{ header }}</h1>
            </div>
            <div>
                <a class="waves-effect waves-light btn light-green darken-3"
                   href="{% url 'fleet_create' %}"
                   id="start_new_fleet_button"><i
                        class="material-icons right">add_circle</i>Create Fleet</a>
            </div>
        </div>

        {% if fleets %}
            <ul class="collection with-header">
                {% for fleet in fleets %}
                    <li class="collection-item row">
                    {% has_fleet_member fleet user as is_member %}
                    {% can_join fleet user as can_join_fleet %}
                    <div class="col s12 l8">
                        <div class="mb-3">
                            <img class="avatar" src="{{ fleet.fc.discord_avatar_url }}"
                                 style="width: 42px"/>
                            <a href="{% url 'fleet_view' fleet.id %}">
                                <h3 class="d-inline-block ml-2">
                                    {{ fleet.name }} run by {{ fleet.fc.display_name }}
                                </h3>
                            </a>
                        </div>
                        <div>
                            {% num_fleet_members fleet.id %} Members
                            {% if is_member %}
                                (including you)
                            {% endif %}
                        </div>
                        <div>
                            Start: {{ fleet.start }} ({{ fleet.human_readable_started }})
                        </div>
                        <div>
                            {% if fleet.auto_end %}
                                End: {{ fleet.auto_end }} (
                                {{ fleet.human_readable_ended }})
                            {% elif fleet.expected_duration %}
                                Duration: {{ fleet.expected_duration }}
                            {% endif %}
                        </div>
                        <div class="mt-3">
                            <div>
                                {{ fleet.description }}
                            </div>
                            <div>
                                {{ fleet.location }}
                            </div>
                        </div>
                        <div class="mt-5">
                            Profit So Far: Ƶ {{ fleet.isk_and_eggs_balance|nicemoney }}
                        </div>
                    </div>
                    <div class="col s12 l4 right-align">
                    {% if not is_member and can_join_fleet %}
                        <a class="waves-effect waves-teal btn blue"
                           href="{% url 'fleet_join' fleet.id %}"><i
                                class='material-icons right'>login</i>Join Fleet</a>
                    {% else %}
                        <a class="waves-effect waves-teal btn blue"
                           href="{% url 'fleet_view' fleet.id %}"><i
                                class='material-icons right'>info</i>Loot Tracker</a>
                    {% endif %}
                {% endfor %}
                </div>
            </ul>
            <div class="center">
                {% for i in total_pages_range %}
                    {% if i == page %}
                        {{ i }}
                    {% else %}
                        <a href="{% url page_url_name %}?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="card">
                <div class="card-content">
                    There are currently no fleets of this type
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
