{% extends "core/base.html" %}

{% load base_extras %}
{% block body %}

<div class="section">
    <div class="row">
        Fleet Page:
        {% for i in total_pages_range %}
        {% if i == page %}
        {{i}}
        {% else %}
        <a href="{% url page_url_name %}?page={{i}}">{{i}}</a>
        {% endif %}
        /
        {% endfor %}
        End
    </div>
    <a class="waves-effect waves-light btn light-green darken-3" href="{% url 'fleet_create' %}"
       id="start_new_fleet_button"><i
            class='material-icons right'>add_circle</i>Start New Fleet</a>

    {% if fleets %}
    <ul class="collection with-header">
        <li class="collection-header">
            <h5>{{header}}</h5>
        </li>
        {% for fleet in fleets %}
        <li class="collection-item">
            {% has_fleet_member fleet user as is_member %}
            {% can_join fleet user as can_join_fleet %}
            <img alt="" class="avatar" src="{{ fleet.fc.discord_user.avatar_url }}" style="width: 42px">
            <span class="title">
                <a href="{% url 'fleet_view' fleet.id %}">{{ fleet.name }} run by {{fleet.fc.username}}
                    - {% num_fleet_members fleet.id %} Members
                    {% if is_member %}
                    (including you!)
                    {% endif %}
                <i class='material-icons tiny'>info</i></a>
            </span>
            <div class="divider" style="width:50%;"></div>
            <span class="blue-grey-text darken-4">Start: {{fleet.start}} ({{fleet.human_readable_started}})
                {% if fleet.auto_end %}
                <br/>End: {{fleet.auto_end }} ({{fleet.human_readable_ended}})
                {% else %}
                    {% if fleet.expected_duration %}
                      <br/>Duration: {{fleet.expected_duration}}
                    {% endif %}
                {% endif %}
                </span>


            <p>
                <br/>
                {{fleet.description}}<br/>
                {{fleet.location}}<br/>
                Profit So Far: Ƶ {{fleet.isk_and_eggs_balance|nicemoney}}<br/>
            </p>
            {% if not is_member and can_join_fleet %}
            <a class="secondary-content waves-effect waves-light btn purple lighten-2"
               href="{% url 'fleet_join' fleet.id %}"><i class='material-icons right'>add_circle</i>Join Fleet</a>
            {% else %}
            <a class="secondary-content waves-effect waves-light btn blue"
               href="{% url 'fleet_view' fleet.id %}"><i class='material-icons right'>info</i>Loot Tracker</a>
            {% endif %}

            {% endfor %}
    </ul>
    {% else %}
    <p> No fleets. </p>
    {% endif %}
</div>


{% endblock %}
