{% extends "core/base.html" %}
{% load static %}
{% load materializecss %}
{% block body %}
<h4>Join fleet: {{fleet.name}}</h4>
<div class="divider"></div>
<div class="section">
    {% if form %}
    <!-- Form Errors -->
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel red darken-1">
                <span class="white-text">
                    <b>Errors with form:</b>
                <ul class="errors">
                    {% for error in form.non_field_errors%}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </span>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Display Form -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">

            <div class="col m2 m2">
                Discord Username Filter:
            </div>
            <div class="col m10 m10">
                {{ form.discord_username|materializecss:'s12 m12, icon=user'}}
            </div>
        </div>
        <div class="row">
            <div class="col m2 m2">
                Character To Add:
            </div>
            <div class="col m10 m10">
                {{ form.character|materializecss:'s12 m12, icon=user'}}
            </div>
        </div>
        <br/>
        <button type="submit" class="btn waves-effect waves-light" value="Submit">Add Character
            <i class="material-icons right">send</i>
        </button>
    </form>
    {% endif %}
</div>


{% endblock %}

{% block extrafooter %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })

    // Bind on continent field change
    $(':input[name$=discord_username]').on('change', function() {
        // Get the field prefix, ie. if this comes from a formset form
        var prefix = $(this).getFormPrefix();

        // Clear the autocomplete with the same prefix
       $(':input[name=' + prefix + 'character]').val(null).trigger('change');
});

})($)

</script>
{% endblock %}
