{% load static %}
{% load socialaccount %}
{% load i18n %}
{% load base_extras %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}GooseTools{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'core/css/materialize.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/custom.css' %}" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
{% if user.is_authenticated %}
<ul class="dropdown-content" id="dropdown_fleets">
    <li><a href="{% url 'fleet' %}">Active Fleets
        ({% num_active_fleets %})
    </a>
    </li>
    <li><a href="{% url 'fleet_past' %}">Past Fleets
        ({% num_past_fleets %})
    </a>
    </li>
    <li><a href="{% url 'fleet_future' %}">Future Fleets
        ({% num_future_fleets %})
    </a>
    </li>
    <li><a href="{% url 'your_fleet_shares' %}">Your Fleet Shares/Loot
    </a>
    <li><a href="{% url 'all_fleet_shares' %}">Everyones Fleet Shares/Loot
    </a>
    </li>
    {% if user.is_staff %}
    <li><a href="{% url 'fleet_late' %}">Late Joiners Admin View
    </a>
    </li>
    {% endif %}
</ul>
<ul class="dropdown-content" id="dropdown_sales">
    {% num_items user as num_to_sell %}
    <li><a href="{% url 'items' %}">Your Loot To Sell
        ({{ num_to_sell }})
    </a>
    </li>
    {% num_orders user as num_active_orders %}
    <li><a href="{% url 'orders' %}">Market Orders
        ({{ num_active_orders }})
    </a>
    </li>
    {% num_sold user as num_already_sold %}
    <li><a href="{% url 'sold' %}">Sold Items
        ({{ num_already_sold }})
    </a>
    </li>
    <li><a href="{% url 'transfered_items' %}">Transfered Items
    </a>
    <li><a href="{% url 'junk' %}">Junked Items
    </a>
    </li>
    <li><a href="{% url 'all_items' %}">View Everyone's Items
    </a>
    </li>
    <li><a href="{% url 'grouped_items' %}">View Everyone's Items Grouped
    </a>
    </li>
</ul>
{% endif %}
<nav class="nav-extended blue-grey darken-3">
    <div class="nav-wrapper">
        <a class="sidenav-trigger" data-target="mobile-demo" href="#"><i class="material-icons">menu</i></a>
        {% if user.is_authenticated %}
        <ul class="left hide-on-med-and-down valign-wrapper">

            <li><a class="dropdown-trigger valign-wrapper" data-target="dropdown_fleets" href="#!">Fleets<i
                    class="material-icons right">arrow_drop_down</i></a></li>
            {% all_sales user as all_sales_num %}
            {% num_contracts user as contracts %}
            <li><a class="dropdown-trigger valign-wrapper" data-target="dropdown_sales" href="#!">Sales ({{all_sales_num}})
                <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="{% url 'contracts' %}">Contracts ({{contracts}})</a></li>
            <li>


                <a class="tab" href="{% url 'own_user_transactions' %}">Transactions</a></li>
            <a class="tab" href="{% url 'settings' %}">Settings</a></li>
            <li>
        </ul>
        {% endif %}
        <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'account_logout' %}" method="post">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input name="{{ redirect_field_name }}" type="hidden" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="waves-effect waves-light btn" type="submit">{% trans 'Logout' %}</button>
                </form>
            </li>

            {% else %}
            <li><a class="waves-effect waves-light btn" href="{% provider_login_url 'discord' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    {% if user.is_authenticated %}
    <li class="tab"><a href="{% url 'fleet' %}">Active Fleets
        ({% num_active_fleets %})
    </a>
    </li>
    <li class="tab"><a href="{% url 'fleet_past' %}">Past Fleets
        ({% num_past_fleets %})
    </a>
    </li>
    <li class="tab"><a href="{% url 'fleet_future' %}">Future Fleets
        ({% num_future_fleets %})
    </a>
    </li>
    <li><a href="{% url 'your_fleet_shares' %}">Your Fleet Shares/Loot
    </a>
    <li><a href="{% url 'all_fleet_shares' %}">Everyones Fleet Shares/Loot
    </a>
        {% if user.is_staff %}
    <li><a href="{% url 'fleet_late' %}">Late Joiners Admin View
    </a>
    </li>
    {% endif %}
    {% num_items user as num_to_sell %}
    <li class="tab"><a href="{% url 'items' %}">Your Loot To Sell
        ({{ num_to_sell }})
    </a>
    </li>
    {% num_orders user as num_active_orders %}
    <li class="tab"><a href="{% url 'orders' %}">Market Orders
        ({{ num_active_orders }})
    </a>
    </li>
    {% num_sold user as num_already_sold %}
    <li class="tab"><a href="{% url 'sold' %}">Sold Items
        ({{ num_already_sold }})
    </a>
    </li>
    <li class="tab"><a href="{% url 'transfered_items' %}">Transfered Items
    </a>
    </li>
    <li class="tab"><a href="{% url 'contracts' %}">Your Contracts ({{contracts}})</a></li>
    <li><a href="{% url 'all_items' %}">View Everyones Items
    </a>
    </li>
    <li><a href="{% url 'grouped_items' %}">View Everyones Items Grouped
    </a>
    </li>
    <li class="tab"><a href="{% url 'settings' %}">Settings</a></li>
    <li class="center">
        <form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input name="{{ redirect_field_name }}" type="hidden" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="waves-effect waves-light btn" type="submit">{% trans 'Logout' %}</button>
        </form>
    </li>
    {% else %}
    <li><a class="waves-effect waves-light btn" href="{% provider_login_url 'discord' %}">Login</a></li>
    {% endif %}
</ul>

<main class="container">
    {% if messages %}
    <div class="section">
        {% for m in messages %}
        {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <span class="red-text"><b>{{ m }}</b></span>

        {% else %}
        <span class="light-green-text"><b>{{ m }}</b></span>
        {% endif %}
        {% endfor %}
    </div>
    <div class="divider"></div>
    {% endif %}
    {% block body %}
    {% endblock %}
</main>
{% block footer %}
<footer class="page-footer blue-grey lighten-2">
    <div class="container">
        <h5 class="white-text">⚙ GooseTools</h5>
        <ul>
            <li><a class="grey-text text-lighten-3"
                   href="https://wiki.goosetools.com/index.php?title=Goosetools">How to use GooseTools</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://wiki.goosetools.com">HONK Wiki</a></li>
            <li><a class="grey-text text-lighten-3" href="https://discord.com/users/244766405260476417/">PM
                @thejanitor for help and suggestions</a></li>
        </ul>
    </div>
</footer>

<script src="{% static 'core/js/materialize.js' %}" type="text/javascript"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems);
    var elems = document.querySelectorAll('.timepicker');
    var instances = M.Timepicker.init(elems);
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
        var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);

});

</script>
{% endblock %}
{% block extrafooter %}
{% endblock %}
</body>
</html>
