{% load static %}
{% load socialaccount %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}GooseTools{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/materialize.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'core/css/custom.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav class="nav-extended blue-grey darken-3">
    <div class="nav-wrapper ">
        <a href="#" class="brand-logo">⚙ GooseTools </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="waves-effect waves-light btn" type="submit">{% trans 'Logout' %}</button>
            </form>
            {% else %}
            <li><a class="waves-effect waves-light btn" href="{% provider_login_url 'discord' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#test2">Your Characters</a></li>
            <li class="tab"><a class="active" href="#test2">Fleets</a></li>
            <li class="tab disabled"><a href="#test1" class="disabled">Loot Tracker</a></li>
            <li class="tab disabled"><a href="#test1">Market Place</a></li>
            <li class="tab disabled"><a href="#test3">Skill Planner</a></li>
            <li class="tab disabled"><a href="#test4">Inventory Tracker</a></li>
        </ul>
    </div>
    {% endif %}
</nav>
<div class="container">
    {% if user.is_authenticated %}
        {% block body %}
        {% endblock %}
    {% endif %}
</div>
<script type="text/javascript" src="{% static 'core/js/materialize.js' %}"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});
</script>
</body>
</html>