{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<h4>{{title}}</h4>
<div class="section">

    <b class="green-text">Has your deposit of {{total}} for {{count}} sold items been approved? Use the $balance command
        in the
        <a href="https://discord.com/channels/747575380436713583/754139786679156807/764900253358227506">#general-bot-spam</a>
        channel on GooseFleet discord to check if it has been added to your balance.. </b>
</div>
<div class="divider"></div>
<div class="section">
    {% if form %}
    <!-- Form Errors -->
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel red darken-1">
                <span class="white-text">
                    <b>Errors with form:</b>
                <ul class="errors">
                    {% for error in form.non_field_errors%}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </span>
            </div>
        </div>
    </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <br/>
        <button class="btn waves-effect waves-light" type="submit" value="Submit">Yes my deposit has been approved and
            now appears in my egg balance.
            <i class="material-icons right">send</i>
        </button>
    </form>

    {% endif %}
</div>


{% endblock %}
