{% extends "core/base.html" %} {% load base_extras %} {% block body %}
{% load materializecss %}
<div class="row">
  <div class="col s12 m12">
    <h5>{{title}}</h5>
    <table>
      <thead>
        <th>User</th>
        <th>Num Loot Shares</th>
      </thead>
      <tbody>
          {% for user in users%}
          <tr>
            <td>
                <a href="{% url 'fleet_shares' user.id %}">{{user}}<a>
            </td>
            <td>
            {{user.shares}}
            </td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s12 m12">
    <h5>{{title}}</h5>
    <table>
      <thead>
        <th>Fleet</th>
        <th>User</th>
        <th>Joined At</th>
        <th>ZScore</th>
      </thead>
      <tbody>
          {% for data in outliers%}
            {% for member in data.z_scores %}
          <tr>
            {% if forloop.first and forloop.parentloop.first %}
            <td rowspan="{{data.z_scores|length}}">
                <a href="{% url 'fleet_view' data.fleet.id %}">{{data.fleet}}</a><br/>

                Avg Join Time: {{data.stats.human_avg_joined_at}} <br/>
                Minutes Std Dev: {{data.stats.minutes_std_dev}} 
            </td>
            {% endif %}
            <td>
                <a href="{% url 'fleet_shares' member.character.discord_user.id %}">{{member.character}}<a>
            </td>
            <td>
              {{member.joined_at}}
            </td>
            <td>
              {{member.z_score}}
            </td>
         </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
