{% extends "core/base.html" %}
{% load base_extras %}

{% block body %}
{% has_fleet_member fleet user as is_member %}
{% has_admin fleet user as admin %}
{% still_can_join_alts fleet user as can_join_alts %}
<div class="row">
    <div class="col s12 m12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
          <span class="card-title">
            {% if fleet.fc.discord_avatar_url %}
            <img src="{{ fleet.fc.discord_avatar_url }}?size=64" alt="" class="circle">
            {% else %}
            <i class="circle material-icons">error</i>
            {% endif %}
            {{fleet.name}} run by {{fleet.fc.username}}</span>
                <b>{{fleet.human_readable_started}}
                    {% if fleet.human_readable_ended %}
                    - {{fleet.human_readable_ended}}
                    {% else %}
                    {% if fleet.expected_duration %}
                    - {{fleet.expected_duration}}
                    {% endif %}
                    {% endif %}
                </b>
                <p>
                    <i>
                        {% if fleet.gives_shares_to_alts %}
                        This fleet gives loot shares to alts.
                        {% else %}
                        In this fleet alts are not given loot shares.
                        {% endif %}
                    </i>
                    <br/>
                    {{ fleet.description }}<br/>
                    {{ fleet.location }}<br/>
                </p>
            </div>
            <div class="card-action">

                {% can_join fleet user as can_join_fleet %}
                {% if can_join_fleet %}
                {% if can_join_alts %}
                <a class="waves-effect waves-light btn purple lighten-2"
                   href="{% url 'fleet_join' fleet.id %}"><i class='material-icons right'>add_circle</i>Add Another Alt</a>
                {% else %}
                <a class="waves-effect waves-light btn purple lighten-2"
                   href="{% url 'fleet_join' fleet.id %}"><i class='material-icons right'>add_circle</i>Join Fleet</a>
                {% endif %}
                {% endif %}
                {% if admin %}
                <a class="waves-effect waves-light btn orange darken-2"
                   href="{% url 'fleet_edit' fleet.id %}"><i class='material-icons right'>edit</i>Edit Fleet</a>
                <a class="waves-effect waves-light btn red darken-2"
                   href="{% url 'fleet_end' fleet.id %}"><i class='material-icons right'>close</i>End Fleet</a>

                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 m6">
        <h5>Fleet Members</h5>
        <table>
            <thead>
            <th>Discord User</th>
            <th>Ingame Character</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for discord_id, members in fleet_members_by_id.items %}
            {% for member in members %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{members|length}}">
                {% if member.has_admin %}
                    <b>Fleet Admin</b><br/> 
                {% endif %}
                <img src="{{ member.character.discord_avatar_url }}?size=32" alt=""
                                                      class="circle">
                    {{member.character.discord_username}}
                </td>
                {% endif %}
                <td>
                {{member.character}}
                </td>
                <td>

                    {% if member.character.discord_id == user.discord_uid or admin %}

                    {% if admin %}
                    <a class="red-text text-darken-3"
                       href="{% url 'fleet_leave' member.id %}">Remove From Fleet</a>
                    {% else %}
                    <a class="red-text text-darken-3"
                       href="{% url 'fleet_leave' member.id %}">Leave</a>
                    {% endif %}
                    {% endif %}
                    <br/>
                    {% if admin %}

                    {% if member.admin_permissions %}
                    <a class="orange-text text-darken-2" title="Remove Admin"
                       href="{% url 'fleet_remove_admin' member.id %}">Remove Admin</a>
                    {% else %}
                    <a class="orange-text text-darken-2"
                       href="{% url 'fleet_make_admin' member.id %}">Give Admin</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
            {% if admin %}
            <tr>
                <td colspan="3">
                    <a class="waves-effect waves-light btn green darken-2"
                       href="{% url 'fleet_add' fleet.id %}"><i class='material-icons right'>edit</i>Add Member</a>

                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col s6 m6">
        <h5>Loot Buckets</h5>
        <table>
            <thead>
            <th>Bucket Id</th>
            <th>Anom</th>
            <th>Actions</th>
            </thead>
            <tbody>
            {% for bucket in loot_buckets %}
            {% for lootgroup in bucket.lootgroup_set.all %}
            <tr>

                {% if forloop.first %}
                <td rowspan="{{bucket.lootgroup_set.all|length|add:"1"}}">
                    Bucket Number {{bucket.id}}
                </td>
                {% endif %}
                <td>{{lootgroup.fleet_anom.anom_type}} - {{lootgroup.fleet_anom.system}}
                </td>
                <td>
                    <a href="{% url 'loot_group_view' lootgroup.id %}"><i class='material-icons right'>info</i>View Loot</a>
                </td>
            </tr>
            {% endfor %}
            {% if admin %}
            <tr><td colspan="2">
                    <a class="waves-effect waves-light btn yellow darken-2"
                       href="{% url 'loot_group_add' fleet.id bucket.id %}"><i class='material-icons right'>add_circle</i>
                        Add Anom To This Bucket</a>
                        </td></tr>
            {% endif %}
            {% endfor %}
            {% if admin %}
            <tr>
                <td colspan="3">
                    <a class="waves-effect waves-light btn deep-orange lighten-2"
                       href="{% url 'loot_group_create' fleet.id %}"><i class='material-icons right'>add_circle</i>New
                        Loot
                        Bucket</a>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}