{% extends "core/base.html" %} {% load base_extras %} {% block body %}
{% load materializecss %}
    <h5>{{title}}</h5>
<div class="section">
<blockquote>
<b>If you want someone else to sell your fleet's loot:</b>
<ol>
<li> Make sure they are happy to sell your loot, maybe provide them a link to the loot group showing what is waiting to be sold!</li>
<li> If they are happy then make contract in game to that person in a system they are happy with.</li>
<li> Then move the items to them in Goosetools by clicking the appropriate contract button on this page (all your items, or just one fleet's worth, or a single item at once). </li>
<li> Finally they will have to accept or reject the contract in-game and in Goosetools. You can see your contracts pending approval <a href="{% url 'contracts'%}">here</a>.</li>
</ol>
Participation will still be tracked and the person receiving the contract will have the responsibility to deposit and transfer eggs. 
</blockquote>
<blockquote>
<b>If you want to sell loot yourself:</b>
<ol>
<li> Move all your loot to a good selling hub and make sure you have atleast 5/4/0 accounting skill</li>
<li> Go through all your items below, click sell and indicate what price you have listed the items at and what your market taxes are. Set your default taxes in <a href="{% url 'settings'%}">settings</a>.</li>
<li> As your items sell go to your <a href="{% url 'orders'%}">market orders</a> page in the Loot Sales dropdown and indicate for each order how many of the item are remaining to be sold. </li>
<li> For now if you need to cancel a market order, or change the price, PM @thejanitor </li>
<li> Once some or all of your items have sold finally go to the <a href="{% url 'sold' %}">sold items</a> page in the dropdown. Click deposit and follow the instructions, once the deposit has been approved click approved and then finally click transfer to get the transfer command to split out the loot by participation.</li>
</ol>
</blockquote>

</div>
<div class="divider"></div>
<div class="row">
  <div class="col s12 m12">
    {% if show_contract_all %}
      <a class="waves-btn btn red" href="{% url 'item_move_all' %}">Contract All Your Items</a>
      {% endif %}
    <table>
      <thead>
        <th>Location</th>
        <th>Fleet</th>
        <th>Loot Group</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for loc_items in all_items %}
          {% has_admin loc_items.loc user as has_item_admin %}
          {% for fleet_id, items in loc_items.items_by_fleet.items %}
          {% for item in items %}
            <tr>
                {% if forloop.parentloop.first and forloop.first %}
                <td rowspan="{{loc_items.total_in_loc}}">
                {{loc_items.loc}}
                </td>
                {% endif %}
                {% if forloop.first %}
              {% if has_item_admin %}
                <td rowspan="{{items|length|add:"1"}}">
                {% else %}
                <td rowspan="{{items|length}}">
                {% endif %}
                {% if fleet_id %}
                    <a href="{% url 'fleet_view' fleet_id %}">Fleet {{fleet_id}}</a>
                    {% else %}
                    No Fleet
                    {% endif %}
                </td>
              {% if has_item_admin %}
              <td colspan="3">
                <a class="waves-btn btn pink" href="{% url 'item_contract_fleet' fleet_id loc_items.loc.id %}">Contract Fleet {{fleet_id}} Items Here</a>
              </td>
            </tr>
            <tr>
            {% endif %}
                {% endif %}
                <td>
                  {% if item.loot_group %}
                    <a href="{% url 'loot_group_view' item.loot_group.id %}">Loot Group {{item.loot_group.id}}</a>
                    {% else %}
                    No Loot Group
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'item_view' item.id %}">
                  {{item.item}}
                  </a>
                </td>
                <td>
                  {{item.quantity}}
                </td>
                <td>
              {% if has_item_admin %}
      {% if item.can_edit %}
      <a class="waves-btn btn orange" href="{% url 'item_edit' item.id %}">Edit Item</a>
      {% endif %}
      <br/>
      {% if item.can_sell %}
      <a class="waves-btn btn green" href="{% url 'item_sell' item.id %}">Sell Item</a>
      {% endif %}
      <br/>
      {% if item.can_edit %}
      <a class="waves-btn btn red" href="{% url 'item_delete' item.id %}">Delete Item</a>
      <br/>
      <a class="waves-btn btn blue" href="{% url 'item_contract' item.id %}">Contract Item</a>
      {% endif %}
      {% endif %}
                </td>
            </tr>
          {% endfor %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    </form>
  </div>
</div>

{% endblock %}
