{% extends "core/base.html" %} {% load base_extras %} {% block body %}
{% load materializecss %}
<div class="row">
  <div class="col s12 m12">
    <h5>Junked Items</h5>
    <table>
      <thead>
        <th>Location</th>
        <th>Loot Group</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for loc_items in all_junked %}
          {% for item in loc_items.junked %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{items|length}}">
                {{loc_items.loc}}
                </td>
                {% endif %}
                <td>
                  {% if item.loot_group %}
                    <a href="{% url 'loot_group_view' item.loot_group.id %}">Loot Group {{item.loot_group.id}}</a>
                    {% else %}
                    No Loot Group
                    {% endif %}
                </td>
                <td>
                  {{item.item}}
                </td>
                <td>
                  {{item.quantity}}
                </td>
                <td></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    </form>
  </div>
</div>

{% endblock %}
