{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<h4>{{title}}</h4>
Selling Stack: 
                   <a href="{% url 'stack_view' stack.id %}">
                  {{stack}}
                  </a>
<div class="divider"></div>
<div class="section">
    {% if form %}
    <!-- Form Errors -->
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel red darken-1">
                <span class="white-text">
                    <b>Errors with form:</b>
                <ul class="errors">
                    {% for error in form.non_field_errors%}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </span>
            </div>
        </div>
    </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.listed_at_price|materializecss:'s12 m12, icon=directions_boat'}}
        </div>
        <div class="row">
            {{ form.transaction_tax|materializecss:'s12 m6, icon=format_list_numbered'}}
            {{ form.broker_fee|materializecss:'s12 m6, icon=face'}}
        </div>
        <div class="row">
            <span id="fee_display"></span>
            <br/>
        </div>
        <button id="submit_btn" type="submit" class="btn waves-effect waves-light" value="Submit">{{title}}
            <i class="material-icons right">send</i>
        </button>

    </form>

    {% endif %}
</div>


{% endblock %}

{% block extrafooter %}

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/9.0.0/decimal.min.js" integrity="sha512-zPQm8HS4Phjo9pUbbk+HPH3rSWu5H03NFvBpPf6D9EU2xasj0ZxhYAc/lvv/HVDWMSE1Autj19i6nZOfiVQbFQ==" crossorigin="anonymous"></script>
{{ order_json|json_script:"order-data" }}

<script>

function valid_fee(fee){
    return fee && fee.greaterThanOrEqualTo(0) && fee.lessThanOrEqualTo(100)
}

function valid_price_str(price_str){
    var num = price_str.replace(/,/g, '');
    return !isNaN(num) && num > 0
}
function numberWithCommas(x) {
    var x = x.toString();
    var x = x.replace(/,/g, '');
    return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function calc_fee(){
    listed_at_price_str = $("#id_listed_at_price").val();
    $("#id_listed_at_price").val(numberWithCommas(listed_at_price_str));
    broker_fee_str = $("#id_broker_fee").val();
    transaction_tax_str = $("#id_transaction_tax").val();
    if (valid_price_str(listed_at_price_str) && broker_fee_str && transaction_tax_str){
        $("#id_listed_at_price")[0].setCustomValidity('')
        listed_at_price = new Decimal(listed_at_price_str.replace(/,/g, ''));
        broker_fee = new Decimal(broker_fee_str.replace(/,/g, ''));
        transaction_tax = new Decimal(transaction_tax_str.replace(/,/g, ''));
        
        const order_data = JSON.parse(document.getElementById('order-data').textContent);
        quantity = new Decimal(order_data['quantity']);

        if(listed_at_price.greaterThan(0) && valid_fee(broker_fee) && valid_fee(transaction_tax)){
            total_isk_quantity = quantity.times(listed_at_price)
            result_broker_fee = (((broker_fee.dividedBy(100)).times(total_isk_quantity)).floor())
            result_transaction_tax = (((transaction_tax.dividedBy(100)).times(total_isk_quantity)).floor())
            net_profit = ((total_isk_quantity.floor().minus(result_broker_fee).minus(result_transaction_tax)).floor())
            $("#fee_display").html(
                "Broker Fee: <b class='red-text'>" + numberWithCommas(result_broker_fee) + " ISK </b> <br/>Transaction Tax: <b class='red-text'>" + numberWithCommas(result_transaction_tax) + " ISK </b> <br/>Net Profit <b class='green-text'>" + numberWithCommas(net_profit) + " ISK");
            $("#submit_btn").prop('disabled', false)
        } else {
            $("#fee_display").html("<b class='red-text'>You must enter a valid non zero price, broker fee and transaction tax.</b>");
            $("#submit_btn").prop('disabled', true)
        }
    } else {
        if(!valid_price_str(listed_at_price_str)){
            $("#id_listed_at_price")[0].setCustomValidity('Price must be greater than 0 and a valid number')
        }
        $("#fee_display").html("<b class='red-text'>You must enter a valid non zero price, broker fee and transaction tax.</b>");
        $("#submit_btn").prop('disabled', true)
    }
}
(function($) {

    $("#id_listed_at_price").on("change paste keyup", calc_fee);
    $("#id_broker_fee").on("change paste keyup", calc_fee);
    $("#id_transaction_tax").on("change paste keyup", calc_fee);
    calc_fee();

})($)
</script>

{% endblock %}
