{% extends "core/base.html" %}

{% block body %}
<div class="row">
    <!-- Display Form -->
    <form action="" method="post" class="col s12">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="input-field col s12">
                {{ field.errors }}
                {{ field }}
                {{ field.label_tag }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>

        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}