{% extends "core/base.html" %} {% load base_extras %} {% block body %}
{% load materializecss %}
<div class="row">
  <div class="col s12 m12">
    <h5>Sold Items</h5>
    <table>
      <thead>
        <th>Location</th>
        <th>Loot Group</th>
        <th>Item</th>
        <th>Sold Via</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for loc_items in all_sold %}
          {% for item in loc_items.sold %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{items|length}}">
                {{loc_items.loc}}
                </td>
                {% endif %}
                <td>
                  {% if item.loot_group %}
                    <a href="{% url 'loot_group_view' item.loot_group.id %}">Loot Group {{item.loot_group.id}}</a>
                    {% else %}
                    No Loot Group
                    {% endif %}
                </td>
                <td>
                  {{item.item}}
                </td>
                <td>
                  {{item.sold_via}}
                </td>
                <td>
                  {{item.quantity}}
                </td>
                <td>
                  {% if item.transfered_to_participants %}
                  Transfered to participants, all done!
                  {% elif item.deposited_into_eggs %}
                  Deposited into eggs. Awaiting Transfer.
                  {% else %}
                  Awaiting Egg deposit.
                  {% endif %}
                </td>
                <td>
                </td>
                <td></td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    </form>
  </div>
</div>

{% endblock %}
