{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
<h4>{{title}}</h4>
<div class="section">
    <b>Id:</b> {{log.id}}<br/>
    <b>Made By:</b> {{log.user.discord_username}}<br/>
    <b>At:</b> {{log.time}}<br/>
    <b>Number of Items worth of Profit Transfered:</b> {{log.count}}<br/>
    <b>Total isk Transfered:</b> {{log.total}}<br/>

</div>
<div class="divider"></div>
<div class="section">
    <h5>Breakdown of Split</h5>
    <table>
        <thead>
        <th>Item</th>
        <th>Discord Username</th>
        <th>Shares</th>
        <th>Flat Cut</th>
        <th>Share Isk</th>
        <th>Cut Isk</th>
        <th>Total Isk</th>
        </thead>
        <tbody>
        {% for item_id, item_details in explaination.items %}
        {% for discord_username, details in item_details.participation.items %}
        <tr>
            {% if forloop.first %}
            <td rowspan="{{item_details.participation.values|length}}">
                <a href="{% url 'item_view' item_id %}">{{item_details.item}}</a><br/>
                Total Profit: {{item_details.total_isk}}<br/>
                Total Shares: {{item_details.total_shares}}<br/>
                Total Flat Cuts: {{item_details.total_flat_cuts}}%
            </td>
            {% endif %}
            <td>
                {{discord_username}}
            </td>
            <td>
                {{details.shares}}/{{item_details.total_shares}}
            </td>
            <td>
                {{details.flat_cut}}%
            </td>
            <td>
                {{details.share_isk}}
            </td>
            <td>
                {{details.flat_cut_isk}}
            </td>
            <td>
                {{details.total_isk}}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}
