{% extends "core/base.html" %} {% load base_extras %} {% block body %}
{% load materializecss %}
<h5>{{title}}</h5>
<div class="row">
    <div class="col s12 m12">
        <table>
            <thead>
            <th>Location</th>
            <th>Item</th>
            <th>Quantity</th>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                {% if forloop.first %}
                <td rowspan="{{ items|length }}">{{item.location}}</td>
                {% endif %}
                <td>
                    <a href="{% url 'item_view' item.id %}">
                        {{item.item}}
                    </a>
                </td>
                <td>
                    {{item.status}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
</div>

{% endblock %}
