body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-top: 0.5rem;
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
}

.nav-wrapper {
    padding-right: 20px;
    padding-left: 20px;
}

.errorlist {
    color: #b71c1c !important;
}

.help-block {
    color: #b71c1c !important;
}

.select2 {
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100% !important;
    font-size: 16px;
    margin: 0 0 8px 0 !important;
    padding: 0;
    display: block !important;
    position: relative !important;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 1;
    overflow: visible;
}

.nav-wrapper i{
    margin-right: 2px
}
