{% extends "core/base.html" %}
{% load materializecss %}
{% load static %}
{% block body %}
    <div class="section">
        <h5>Create New Item Change Proposal</h5>
    </div>
    <div class="divider"></div>
    <div class="section">
        <form action="" method="post">
            {% if form.non_field_errors %}
                <div class="row">
                    <div class="col s12 m5">
                        <div class="card-panel red darken-1">
                    <span class="white-text">
                        <b>Errors with form:</b>
                    <ul class="errors">
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                    </span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% csrf_token %}

            <div class="row">
                {{ form.existing_item|materializecss:'s12 m12' }}
            </div>

            <button class="btn waves-effect waves-light" type="submit" value="Submit">
                Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
{% endblock %}

{% block extrafooter %}

    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"
            type="text/javascript"></script>

    {{ form.media }}

{% endblock %}
