{% extends "core/base.html" %}
{% block body %}
<div class="section">
    <h4>Corp Applications</h4>
</div>
<div class="section">
    <h5>UnApproved Users</h5>
    <ul class="collection" style="overflow: visible;">
    {% for user in unapproved_users %}
        <li class="collection-item">
            <h6>Application for: {{user.discord_username}}</h4>
            <div class="divider"></div>
                <div class="col">
                    <div class="row s12 m12">
                        <b>Requested Characters:</b>
                        <ul class="collection">
                        {% for character_request in user.characterrequest_set.all %}
                            <li class="collection-item">
                                {% if character_request.existing_character %}
                                        <span class="title">Change Character</span>
                                        <p>
                                            {{character_request.existing_character.ingame_name}} in Corp {{character_request.existing_character.corp}} to: <br/>
                                            {{character_request.ingame_name}} in Corp {{character_request.corp}}
                                        </p>
                                    {% else %}
                                        <span class="title">New Character</span>
                                        <p>
                                            {{character_request.ingame_name}} in Corp {{character_request.corp}}
                                        </p>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="divider"></div>
            <form action="{% url 'application_update' %}" method="post">
                {% csrf_token %}
                <div class="col">
                    <div class="row s12 m12">
                        <label>Notes:</label>
                        <textarea class="materialize-textarea" id="id_notes"></textarea>
                        <input type="hidden" id="id_user" value="{{user.id}}"></input>
                <button name="approve" class="btn green waves-effect waves-light" type="submit" value="Submit">Approve
                    <i class="material-icons right">send</i>
                </button>
                <button name="deny" class="btn red waves-effect waves-light" type="submit" value="Submit">Reject
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
