{% extends "core/base.html" %}
{% load base_extras %}
{% load static %}
{% load materializecss %}
{% block body %}
<div class="row">
    <div class="col s12 m12">
            <h5>Users Dashboard</h5>
        <div class="divider"></div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <table id="users_table"></table>
    </div>
</div>
{% endblock %}

{% block extrafooter %}
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/b-1.6.5/b-html5-1.6.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
{{ page_data|json_script:"page-data" }}
<script>
function numberWithCommas(x) {
    var x = x.toString();
    var x = x.replace(/,/g, '');
    return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
$(function() {
    const page_data = JSON.parse(document.getElementById('page-data').textContent);
    columns = [
            { "data": "discord_avatar_url", "title": "Avatar",
                render: function ( data, type, row ) {
                    return `<img alt="" class="avatar" src="${data}?size=64" style="width: 64px">`
                }
            } ,
            { "data": "display_name", "title": "Display Name"
            } ,
            { "data": "char_names", "title": "Characters" },
            { "data": "status", "title": "Status"},
            { "data": "sa_profile", "title": "SA Profile",
                render: function ( data, type, row ) {
                    if(data){
                        return `<a href="${data}">Profile</a>`;
                    } else {
                        return "";
                    }
                }
            },
            { "data": "notes", "title": "Notes"},
            { "data": "voucher_username", "title": "Voucher", "defaultContent":""},
            { "data": "uid", "title": "Actions",
                "class": "right-align",
                "width": "8em",
                render: function ( data, type, row ) {
                    const status = row["status"]
                    switch(status){
                        case "approved":
                            return `<a class="ban-btn red-text" href="#">Ban</a> / <a class="inactive-btn grey-text" href="#">InActive</a>`;
                        case "unapproved":
                            return '<a class="approve-btn green-text" href="#">Approve</a> / <a class="ban-btn red-text" href="#">Ban</a>';
                        case "rejected":
                            return '<a class="grey-text inactive-btn" href="#">UnBan</a> / <a class="approve-btn green-text" href="#">Approve</a>';
                        default:
                            return `No Actions for ${status}`;
                    }
                }
            },
    ];
    table = $('#users_table').DataTable( {
        dom: 'Bfrtip',
        pageLength: 50,
        ajax: {
            url: "{% url 'gooseuser-list' %}",
            dataSrc: '',
            error: function (xhr, error, code)
            {
                console.log(xhr);
                console.log(code);
                alert("An error occured getting the data from goosetools please contact @thejanitor on discord.");
            }
        },
        columns: columns,
        order: [[ 0, "asc" ]],
        buttons: [
            'excelHtml5',
            'csvHtml5',
        ]
    } );

    function put_user_action(action){
        return function(){
            const row = table.row( $(this).parents('tr') );
            const url = `${page_data["site_prefix"]}gooseuser/gooseuser/${row.data()["id"]}/${action}/`
            const id = row.data()['id'];
            const request = json_django_request(url);
            fetch(request, {
                method: 'PUT',
                mode: 'same-origin'
            })
            .then(response => response.json())
            .then(response_data => {
                const row_data = row.data();
                row.data(response_data);
                table.draw();
            });

        }
    }


    $('#users_table').on( 'click', '.ban-btn', put_user_action("ban"));
    $('#users_table').on( 'click', '.inactive-btn', put_user_action("unapprove"));
    $('#users_table').on( 'click', '.approve-btn', put_user_action("approve"));


});

function django_request(url){
    const csrftoken = Cookies.get('csrftoken');
    return new Request(
        url,
        {headers: {'X-CSRFToken': csrftoken}}
    );
}
function json_django_request(url){
    const csrftoken = Cookies.get('csrftoken');
    return new Request(
        url,
        {headers: {'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
        }}
    );
}
</script>

{% endblock %}
