{% extends "core/base.html" %}
{% load materializecss %}
{% block body %}
<div class="section">
    <h5>Edit User Group</h5>
</div>
<div class="divider"></div>
<div class="section">
    <!-- Form Errors -->
    {% if form.non_field_errors %}
    <div class="row">
        <div class="col s12 m5">
            <div class="card-panel red darken-1">
                <span class="white-text">
                    <b>Errors with form:</b>
                <ul class="errors">
                    {% for error in form.non_field_errors%}
                    <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                </span>
            </div>
        </div>
    </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.name|materializecss:'s12 m12, icon=directions_boat'}}
        </div>
        <div class="row">
            {{ form.description|materializecss:'s12 m12, icon=directions_boat'}}
        </div>
        <div class="row">
            {{ form.required_discord_role_id|materializecss:'s12 m12, icon=directions_boat'}}
        </div>
        <div class="row">
            {{ form.permissions|materializecss:'s12 m12, icon=directions_boat'}}
        </div>
        <button class="btn waves-effect waves-light" type="submit" value="Submit">Submit Changes
            <i class="material-icons right">send</i>
        </button>
        <br/>
        <br/>
        <button class="btn waves-effect waves-light red" type="submit" value="Delete" name="delete">Delete Group
        </button>
    </form>
</div>
{% endblock %}
