{% extends "core/base.html" %}
{% block body %}
    <div class="section">
        <h4>User Group Admin</h4>
    </div>
    <div class="section">
        <a class="waves-btn btn" href="{% url 'new_group' %}">Create New Group</a>
        <a class="waves-btn btn red" href="{% url 'refresh_discord_groups' %}">Manually
            Sync Groups From Discord Roles</a>
        <ul class="collection" style="overflow: visible;">
            {% for group in groups %}
                <li class="collection-item ">
                    <div class="row">
                        <div class="col s12 m2 hide-on-small-only right-align">Group
                            Name:
                        </div>
                        <div class="col s12 m2 hide-on-med-and-up grey lighten-5"><h5>
                            Group Name:</h5></div>
                        <div class="col s12 m8">
                            <b>{{ group.name }}</b> - <a
                                href="{% url 'user_dashboard' %}?group_filter={{ group.name }}">{{ group.member_count }}
                            Members</a>
                        </div>
                        {% if group.editable %}
                            <div class="col s12 m2">
                                <a href="{% url 'edit_group' group.id %}"
                                   class="waves-btn btn secondary-content">Edit
                                    Group</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col s12 m2 right-align hide-on-small-only">
                            Description:
                        </div>
                        <div class="col s12 m2 hide-on-med-and-up grey lighten-5"><h5>
                            Description:</h5></div>

                        <div class="col s12 m10">
                            {{ group.description }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2 right-align hide-on-small-only">
                            Permissions:
                        </div>
                        <div class="col s12 m2 hide-on-med-and-up grey lighten-5"><h5>
                            Permissions:</h5></div>
                        <div class="col s12 m10">
                            {{ group.permissions }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m2 right-align hide-on-small-only">Given To
                            Users When:
                        </div>
                        <div class="col s12 m2 hide-on-med-and-up grey lighten-5"><h5>
                            Given To Users When:</h5></div>
                        {% if group.required_discord_role %}
                            <div class="col s12 m10">
                                They have the Discord
                                Role: {{ group.required_discord_role }}
                            </div>
                        {% elif group.manually_given %}
                            <div class="col s12 m10">
                                Manually By User Admins on {{ SITE_NAME }}.
                            </div>
                        {% else %}
                            <div class="col s12 m10">
                                <b class="red-text">This Group is mis-configured and can
                                    never be given out.</b>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
