{% extends "core/base.html" %}
{% block body %}
<div class="section">
    <h4>Trigger Manual Discord Permissions Sync</h4>
    <p>This gets all users from the discord server and assigns them goosetools groups which they have the discord role for. This script runs automatically once per hour however you can trigger it manually now if you wish.</p>
</div>
{% if output %}
<div class="section">
{{output|linebreaks}}
</div>
{% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <button class="btn waves-effect waves-light green" type="submit" value="Submit">Start Sync (may take a long time)</button>
    </form>

{% endblock %}
