{% extends "core/base.html" %}
{% block body %}
<div class="section">
    <h4>Corp Applications</h4>
</div>
<div class="section">
    <h5>Pending Applications</h5>
    <ul class="collection" style="overflow: visible;">
    {% for application in object_list %}
        <li class="collection-item avatar">
            {% if application.user.discord_avatar_url %}
            <img alt="" class="avatar"
                    src="{{ application.user.discord_avatar_url }}?size=32" style="width: 32px">
            {% endif %}
            <span class="title">Application for: {{application.user.discord_username}} ({{application.user.display_name}})</span>
            <p>
            <br/>
            <br/>
                <b>Discord ID:</b> {{application.user.discord_user.uid}}<br/>
                <b>In Game Name:</b> {{application.ingame_name}}<br/>
                <b>Corp Applying To:</b> {{application.corp}}<br/>
                ----------------<br/>
                <b>Their Previous Alliances:</b> <blockquote> {{application.previous_alliances}} </blockquote>
                <b>How Active They Are</b> <blockquote> {{application.activity}} </blockquote>
                <b>What They Are Looking For In Corp/HONK:</b> <blockquote> {{application.looking_for}} </blockquote>
                {% if application.application_notes %}
                <b>Extra Notes From Them:</b> <blockquote>{{application.application_notes}}</blockquote>
                {% endif %}
            </p>

            <form action="{% url 'application_update' application.pk %}" method="post">
                {% csrf_token %}
                <label>Notes:</label>
                        <textarea class="materialize-textarea" id="id_notes" name="notes"></textarea>
                <button name="approve" class="btn green waves-effect waves-light" type="submit" value="Submit">Approve
                    <i class="material-icons right">send</i>
                </button>
                <button name="reject" class="btn red waves-effect waves-light" type="submit" value="Submit">Reject
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
